/***********
* Approve Columns
************/

.col_approve {
    min-width: 76px;
}

th.col_approve {
    display: table-cell;
}

td.col_approve a {
    display: inline-block;
    width: 20px;
    text-align: center;
    float: left;
}

td.col_approve a.active {
    background-color: #DEDE90;
}

/*********************
 * BOOTSTRAP ADAPTIONS
 *********************/

.tooltip-inner {
    max-width: 450px;
}